.header {
  position: absolute;
  width: 100%;
  top: 10px;
}
.navigation {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 7px 15px;

  max-width: 300px;

  border: 1px solid $main-text-color;

  justify-content: space-between;
  align-items: center;
  background-color: $main-background-color;

  @media screen and (min-width: 375px) {
    max-width: 355px;
    padding: 10px 17px;
  }
}
.logo {
  // h1 tag hidden as company logo in svg format
  display: none;
}

.modal-menu {
  display: flex;
}
