.header {
  position: absolute;
  width: 100%;
  top: 10px;

  @media screen and (min-width: 1500px) {
    top: 0;
    background-color: $main-background-color;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
}
.logo-svg {
  @media screen and (min-width: 1500px) {
    display: none;
  }
}
.logo-svg-eye {
  align-items: center;
  display: inline-block;
  @media screen and (max-width: 1499.99px) {
    display: none;
  }
}
.navigation {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 7px 15px;

  max-width: 300px;

  border: 1px solid $main-text-color;

  justify-content: space-between;
  align-items: center;
  background-color: $main-background-color;

  @media screen and (min-width: 375px) {
    max-width: 355px;
    padding: 10px 17px;
  }
  @media screen and (min-width: 1500px) {
    max-width: 1160px;
    padding: 19px 0px;

    border: none;
  }
}
.nav-links {
  display: flex;
  margin-left: auto;
}
.nav.list:not(:first-child) {
  margin-left: 64px;
}
.nav-items {
  font-family: "Bison";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;

  color: $secondary-text-color;
  @media screen and (max-width: 1499.99px) {
    display: none;
  }
}
.menu-button {
  @media screen and (min-width: 1500px) {
    display: none;
  }
}
.logo {
  // h1 tag hidden as company logo in svg format
  display: none;
}
