* {
  padding: 0;
  margin: 0;
  // outline: 1px solid red;
  box-sizing: border-box;
}
.list {
  list-style: none;
}
.list,
.hero-text,
.dive-into,
.hero-info-text {
  margin: 0;
  padding: 0px;
}
body {
  margin: 0;
  padding: 0;

  background-color: $main-background-color;

  font-family: "Jost";
  font-weight: bold;
  font-style: normal;

  color: $main-text-color;
}

.container {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 375px) {
    width: 375px;
  }

  @media screen and (min-width: 1920px) {
    width: 1920px;
  }
}

.section {
  padding: 0 38px;

  @media screen and (min-width: 1920px) {
    padding: 0px 10px;
  }
}
section.content {
  padding-bottom: 78px;
}
