* {
  padding: 0;
  margin: 0;
  // outline: 1px solid red;
  box-sizing: border-box;
}

.list,
.nav-items {
  list-style: none;
  text-decoration: none;
}
.list,
.hero-text,
.dive-into,
.hero-info-text {
  margin: 0;
  padding: 0px;
}
body {
  margin: 0;
  padding: 0;

  background-color: $main-background-color;

  font-family: "Jost";
  font-weight: bold;
  font-style: normal;

  color: $main-text-color;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 38px;

  @media screen and (min-width: 375px) {
    width: 375px;
  }

  @media screen and (min-width: 1440px) {
    padding: 0px 10px;
    width: 1440px;
  }
  @media screen and (min-width: 1920px) {
    width: 1880px;
  }
}

.content {
  padding-top: 100px;
  padding-bottom: 78px;

  @media screen and (min-width: 1440px) {
    padding-top: 150px;
  }
}
